*{
    margin: 0;
    padding: 0;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/*Navigation*/
#menu{
    font-size: 110%;
    background-color: #0f3257;
    text-align: center;
}
#menu li{
    margin-right:10px;
    margin-left:10px;
    padding: 20px 2%;

    display: inline-block;
}
#menu a{
    text-decoration: none;
    color:#edf5fd;
}
#menu a:hover{
    color: #5c99d6;
}
/*Body*/
legend{
    position: relative;
    font-size: 120%;;
    background-color: #1d5086;
    color: #edf5fd;
    padding-left: 10px 5px 5px 10px;
    border-radius: 4px;
    margin: 5px;
    width: 98%;
}
#left-pane{
    width: 35%;
    float: left;
    margin-left: 15%;
}
#right-pane{
    width: 35%;
    float: right;
    margin-right: 15%;
}
label{
    width: 15%;
    margin: 4px;
    padding: 5px;
    display: inline-block;
    font-size: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
select {
    width: 80%;
    margin: 4px;
    float:right;
    padding: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 90%;
  }
input {
    width: 78%;
    margin: 4px;
    padding: 4px;
    float: right;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 90%;
}