*{
    margin: 0;
    padding: 0;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/*Navigation*/
#menu{
    font-size: 110%;
    background-color: #0f3257;
    text-align: center;
}
#menu li{
    margin-right:10px;
    margin-left:10px;
    padding: 20px 2%;

    display: inline-block;
}
#menu a{
    text-decoration: none;
    color:#edf5fd;
}
#menu a:hover{
    color: #5c99d6;
}
/*Body*/
#left-pane{
    width: 44%;
    float: left;
    margin-left: 6%;
}
#right-pane{
    width: 44%;
    float: right;
    margin-right: 6%;
}
form{
    border: 2px solid darkslategray;
    border-radius: 10px;
    margin: 20px 10px;
}
fieldset{margin: 5px;}
legend{
    font-size: 110%;;
    background-color: #3f6ea0;
    color: #edf5fd;
    border-radius: 5px;
    width: 99%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1%;
}
label{
    width: 20%;
    /*margin: 4px;*/
    padding: 5px;
    display: inline-block;
    font-size: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select {
    width: 75%;
    /*margin: 4px;*/
    float:right;
    padding: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 90%;
}
input[type=text] {
    width: 73.5%;
    /*margin: 4px;*/
    padding: 4px;
    float: right;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 90%;
}
input[type=submit] {
    width: 100%;
    margin: 4px;
    padding: 4px;
    float: right;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 90%;
}